/*---------------------
	General Styles
----------------------*/

* {
    box-sizing: border-box;
}	

header, section, footer, aside, nav, main, article, figure {
	display: block; 
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Lato', "Times New Roman", Times, sans-serif;
}

/*---------------------
	Typography
----------------------*/
	
h1 {
	font-size:2em;
}	
h2 {
	font-size:1.5em;
}
h3 {
	font-size:1.17em;
}
h4 {
	font-size:1em;
}
h5{
	font-size:.83em;
}
h6 {
	font-size:.67em;
}
p {
	font-size:1em;
}

/*---------------------
	Layout
----------------------*/
*::selection {
	background-color:#fb0e0e;
}
h2 {
	font-size: 1.823em;
	color: #96c332;
	text-transform: uppercase;
	font-weight: bold;
}
p {
	font-size: 0.911em;
	color: #fff;
	font-family: Calibri, "Times New Roman", Times, sans-serif;

}
.pagination {
	display: inline-block;
}
.pagination a {
	float: left;
	text-decoration: none;
	color:#fff;
	padding:6px 11px;
	font-size:14.58px;
	font-weight: bold;
	margin-left:5px;
	margin-top:-2px;
}
.pagination a:first-child {
	margin-left:-9px;
	margin-top:-2px;	
	height:29px;
}
.pagination a:last-child {
	height:29px;
	margin-left:4px;
	margin-top:-2px;
}
.pagination a.taken {
	background-color: #96c332;
	color: #2c3e50;
}
.pagination a:hover:not(.taken) {
	background-color: #748c74;
}
.pagination a:active:not(.taken) {
background-color:#93cc16;;
}

/*---------------------
	Header
----------------------*/

header {
	background-color: #fff;		
}
#header_innerwrap {
	width: 1346px;
	height: 96px;
	margin: 0 auto;
	padding: 0 10px;
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #fff;
	float: right;		
}
nav {
	margin: -59px 191px 29px 20px;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	font-size: 1.042em;
	text-decoration: none;
	color: #2c3e50;
	font-weight: bold;		
	padding:4px 16px;
	text-transform: uppercase;
}
nav ul li a:hover {
	color: #fbf7f8;
	background-color:#050505;		
}
.searchicon {	
	padding:1px 12px 1px;		
	cursor:pointer;
}
.searchicon:hover {
	background-color:#050505;
}
#logo {
	display:inline-block;
	margin: 30px 150px 29px 213px;
}
input[name="search"] {
	position:absolute;
	width:340px;
	font-size:1.05em;
	padding:4px 8px 3px 8px;
	top:41px;
	right:270px;
	border: 2px solid #ccc;    	
	background-color: white; 
	display: none;
}
#input_image {
	background-color:#6dda70;
	position:absolute;
	width:40px;
	height:30px;
	right:215px;
	top:41px;
	display: none;
}
input[type="image"] {
	position:absolute;
	top:3px;
	right:6px;
}
.xsign {
	position:absolute;
	top:41px;
	right:160px;
	font-size:1.6em;
	width:40px;
	height:30px;
	color: white;
	font-weight: bold;
	background-color:#6dda70;
	text-align:center;
	display: none;
	cursor:pointer;		
}

/*---------------------
	Slider
----------------------*/

#slider {
	background-image: url("../images/backimage.png");		
}
#slider_innerwrap {
	position:relative;
	width: 1346px;
	height: 491px;
	margin: 0 auto;
	padding: 0 10px;
}
#slides {
	position: absolute;
	top:82px;
	right:280px;
}
#slides::selection {
	background-color:transparent;
}
#leftarrow {
	position:absolute;
	background-color:#2c3e50;
	width:52px;
	height:52px;
	top:223px;
	left:212px;
	cursor: pointer;		
}
#leftarrow:hover {
	opacity: 0.5;
}
.leftsign {
	position:absolute;
	top:13px;
	left:17px;
}
.leftsign::selection {
	background-color:transparent;
}
#rightarrow {
	position:absolute;
	background-color:#2c3e50;
	width:52px;
	height:52px;
	top:223px;
	right:194px;
	cursor: pointer;		
}
#rightarrow:hover {
	opacity: 0.5;
}
.rightsign {
	position:absolute;
	top:13px;
	left:19px;
}
.rightsign::selection {
	background-color:transparent;
}
#detbut {
	position:absolute;
	top:365px;
	left:762px;
	padding:10px 26px;
	text-decoration: none;
	font-size:12.5px;
	color:#fff;
	font-weight:bold;
	background-color:#2c3e50;
	border:none;
}
#detbut:hover {
	opacity: 0.5;
}
#buybut {
	position:absolute;
	top:365px;
	right:380px;		
	padding:10px 12px 10px 11px;
	text-decoration: none;
	font-size:12.5px;
	color:#fff;
	font-weight:bold;
	background-color:#2c3e50;
	border:none;
}
#buybut:hover {
	opacity: 0.5;
}

/*---------------------
	About
----------------------*/
#about {
	background-color: #2c3e50;		
}
#about_innerwrap {
	position:relative;
	margin:0 auto;
	padding: 0 10px;
	width: 1346px;
	height: 750px;
}
#about_innerwrap h2 {
	position:absolute;
	top:98px;
	left:615px;			
}
#about_innerwrap > p {
	position:absolute;
	top:157px;
	left:211px;
	width:900px;
	font-size:0.911em;
	line-height:21px;
}
#gallery_wrap {
	position:absolute;
	top:330px;
	left:195px;
}
#about_innerwrap > img {
	position:absolute;
	top:700px;
	left:210px;
}
.pos {
	position:absolute;
	top:214px;
	background-color: #96c332;
	color: #2c3e50;
	width:301px;
	padding:11px 10px;
	text-align:center;
	display: inline-block;		
	font-size:0.781em;
	font-weight:bold;
}
div.gallery {
	position:relative;
	width:301px;
	float: left;
	margin-left:17px;
	cursor: pointer;		
}
.desc {
	position:absolute;
	top:19px;
	line-height:21px;
	left:31px;
	z-index:1;
	text-align:center;
	width:235px;
	display: none;
}
#about_innerwrap h4 {
	position:absolute;
	top:266px;
	left:211px;
	font-size: 1.042em;
	text-transform: uppercase;
	color: #96c332;
}
.social_wrap {
	position:absolute;
	top:155px;
	left:25px;
	display: none;
}
div.social_wrap a {
	margin-left:9px;
}

/*---------------------
	Works
----------------------*/

#works {
	background-color: #2c3e50;	
}
#works_innerwrap {
	position: relative;
	margin:0 auto;
	padding: 0 10px;
	width: 1346px;
	height: 900px;
}
#works_innerwrap h2 {
	position: absolute;
	top:45px;
	left:630px;
}
#works_innerwrap > img {
	position: absolute;
	top:840px;
	left:210px;
}
#works_innerwrap > p {
	position: absolute;
	width:900px;
	top:104px;
	left:212px;
}
div.thumb_wrap {
	position:relative;
	float: left;
	margin-top:-3px;
	cursor: pointer;		
}
.thumb_wrap  h3 {
	position:absolute;
	top:76px;
	left:24px;
	color: #4ca59f;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 21.67px;
	display: none;
}
.thumb_wrap div {
	position:absolute;
	top:123px;
	left:42px;
	color: #4a9f9a;
	font-family: Calibri, "Times New Roman", Times, sans-serif;
	font-weight: bold;
	display: none;
}
.thumb_wrap div span {
	color: #ecf0f1;
}	
#works-form {
	position: absolute;
	top:184px;
	left:581px;
}
#works-form select {  	
	font-size:12.5px; 
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    background-color: #96c332;
    color:white;
    border:none;
    padding:9px 147px 6px 12px;     
	background-image: url("../images/dropDown_arrow.png");
	background-repeat:no-repeat;
	background-position:92% 55%;
	cursor: pointer;
}
#thumb_generalwrap {
	position: absolute;
	width:1000px;
	top:227px;
	left:212px;
}
#works_innerwrap div.pagination {
	position: absolute;
	top:707px;
	left:607px;
}

/*---------------------
	Blog
----------------------*/

#blog {
	background-color: #2c3e50;		
}
#blog_innerwrap {
	position: relative;
	margin:0 auto;
	padding: 0 10px;
	width: 1346px;
	height: 650px;
}
#blog_innerwrap h2 {
	position: absolute;
	top:42px;
	left:644px;
}
#blog_innerwrap > p {
	position: absolute;
	top:108px;
	left:210px;
	width:880px;
	line-height:20px;		
}
#blog_boxeswrap {
	position: absolute;
	top:216px;
	left:190px;
}
.blog_box {
	display: inline-block;
	float: left;
	width:300px;
	height:205px;
	background-color:#96c332;
	padding-left:10px;
	margin-left:19px;	
}
.blog_box_innerwrap {
	background-color: #fff;	
	height:100%;
}
.blog_box_innerwrap h4 {
	font-weight: bold;
	margin-top:-28px;
	margin-left:46px;
}
.blog_box_innerwrap p {
	color:#2c3e50;
	font-size:14.58px;		
	width:250px;
	margin-top:24px;
	margin-left:13px;
	line-height:20px;
}
.blog_box_innerwrap span {
	display:inline-block;
	background-color: #96c332;
	color: #2c3e50;
	font-weight: bold;		
}
.blog_box_innerwrap span.number {
	padding:10px 8px;
	font-style:italic;
	margin-top:19px;
	font-size: 14.58px;
}
.blog_box_innerwrap span.read {		
	float:right;
	margin-right:13px;
}
.blog_box_innerwrap span.read a {
	text-decoration:none;
	display:inline-block;
	color: #2c3e50;
	font-size:10.42px;
	padding:7px 10px;		
}
#blog_innerwrap div.pagination {
	position: absolute;
	top:452px;
	left:630px;
}
#blog_innerwrap > img {
	position: absolute;
	top:580px;
	left:210px;
}

/*---------------------
	Clients
----------------------*/

#clients {
	background-color: #2c3e50;		
}
#clients_innerwrap {
	position: relative;
	margin:0 auto;
	padding: 0 10px;
	width: 1346px;
	height: 635px;
}
#clients_innerwrap h2 {
	position: absolute;
	top:43px;
	left:630px;
}
#clients_innerwrap p {
	position: absolute;
	top:109px;
	left:214px;
	width:900px;
	line-height:20px;
}
#company_box_wrap {
	position: absolute;
	top:258px;
	left:196px;
}
div.company_box {
	float:left;
	margin-left:18px;
}
div.company_box div:last-child {
	text-align:center;
	color:#96c332;
	font-size:14.58px;
	margin-top:4px;		
}
#clients_innerwrap div.pagination {
	position: absolute;
	top:470px;
	left:630px;
}

/*---------------------
	Contact
----------------------*/

#contact {
	background-image: url("../images/backimage2.png");		
}
#contact_innerwrap {
	position: relative;
	margin:0 auto;
	padding: 0 10px;
	width: 1346px;
	height: 587px;
	display: table;		
}
#contact_data {
	display: table-cell;		
}
#contact_data table {
	position:absolute;
	top:290px;
	left:208px;
}	
#contact_data table th,td{
	text-align:left;
}
#contact_data table th {
	font-weight:bold;
	font-style:italic;
	font-size:16.67px;
	vertical-align:top;		
}
#contact_data table td {
	font-family: Calibri, "Times New Roman", Times, sans-serif;
	font-size:14.58px;
	padding-left:30px;
	font-weight:bold;
}
#contact_data table td a {
	text-decoration:none;
	color: #2c3e50;
}
#contact_data h2 {
	position: absolute;
	top:94px;
	left:617px;
	color: #2c3e50;		
	font-style:italic;
}
#contact_data p {
	position: absolute;
	color: #2c3e50;
	width:340px;
	top:160px;
	left:210px;
	line-height:20px;
}
#contact_data table {
	color: #2c3e50;
}
#contact_form {
	display: table-cell;
	position:absolute;
	top:186px;
	left:694px;
}
#contact_form input {
	background-color:#2c3e50;
	font-size:14.58px;
	font-weight:bold;
	color:#a0a7ad;
	font-style:italic;
	border:none;
	outline:none;
	width:298px;
	height:40px;
	margin-top:-7px;
	padding-top:5px;
	padding-left:12px;		
}
#contact_form textarea {
	width:456px;
	height:140px;
	margin-top:-7px;
	padding-bottom:100px;
	background-color:#2c3e50;
	font-size:14.58px;
	font-weight:bold;
	font-style:italic;
	padding-left:11px;
	padding-top:14px;
	overflow:hidden;
	color:#a0a7ad;
	resize:none;
	outline:none;	
}
#contact_form [type="submit"] {
	width:107px;
	padding:2px 3px 2px 2px;
	height:36px;
	color:#96c332;
	font-size:13.5px;
	position:relative;
	top:-9px;
	cursor: pointer;
}

/*---------------------
	Footer
----------------------*/
footer {
	background-color:#fff; 
}
#footer_innerwrap {
	margin:0 auto;
	padding: 0 10px;
	width: 1346px;
	height: 140px;		
}
#copyright {
	font-family: Calibri, "Times New Roman", Times, sans-serif;
	float: left;
	font-size: 0.911em;
	color: #2c3e50;
	margin-top:17px;
	margin-left:195px;
	line-height:20px;
}
#page_social_wrap {
	float: right;
	margin-top:21px;
	margin-right:180px;
}
#page_social_wrap a {
	margin-left: 15px;
}
#page_social_wrap a:hover {
	position:relative;
	top:-2px;
}

/*---------------------
	Scrolltop Button
----------------------*/

#scroll_button {
	position: fixed;
	background-color:#2c3e50;
	text-align:center;
	padding:4px 8px 10px 8px;		
	right:155px;
	bottom:150px;
	display: none;
}
#scroll_button:hover {
	opacity: 0.5;
}